services:
  - type: web
    name: faceme-api
    env: node
    rootDir: server
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: NODE_VERSION
        value: "20"

